.imageElement--home__image-tv {
  height: 333px;
}

.container :global(.vtex-flex-layout-0-x-flexRowContent--home__section-images) {
  display: flex;
  justify-content: space-between;
}

.imageElement--home__image-moda {
  height: 226px;
  width: 100%;
  margin-bottom: 20px;
}

.imageElement--home__image-moda-velez {
  height: 476px;
}

.imageElement--home__slider {
  width: 50% !important;
}

.imageElement--home__slider-moda {
  width: 70% !important;
}

.imageElement--home__slider1 {
  width: 96% !important;
  border-radius: 20px;
}

.imageElement--home__slider-aliados {
  width: 96% !important;
}

.imageElement--imagen__dektop-gaseosa {
  height: 100%;
}

.imageElement--home__image-ofertas {
  width: 100%;
  height: auto;
}

.imageElement--home__image-ofertas-uno {
  height: 355px;
}

.imageElement--home__image-tecno {
  height: 385px;
}

/* Diseño de tablet*/

@media screen and (max-width: 768px) {
  .imageElement--home__image-ofertas-uno {
    height: 200px;
  }

  .imageElement--home__image-ofertas-uno {
    height: 198px;
  }

  .imageElement--home__image-tecno {
    height: 215px;
  }
  .imageElement--home__image-moda {
    height: 150px;
    margin-right: 80px;
  }
  .imageElement--home__image-moda-velez {
    height: 325px;
  }
  .imageElement--image-clorox {
    width: 100% !important;
  }

  .imageElement--home__image-moda {
    margin-right: 0;
  }
}

/* Diseño de phone */

@media screen and (max-width: 480px) {
  .imageElement--home__slider {
    width: 189px !important;
  }

  .imageElement--home__slider-tecno {
    width: 100%;
    height: 150px;
  }
  .imageElement--image-clorox {
    width: 100% !important;
  }
}
