.imageElementLink--home__image1 {
  border: solid 3px red;
}

.imageElement--home__promocion-gaseosas {
  margin-left: 260px;
  height: 418px;
}

.imageElement--home__image-tv {
  height: 333px;
}

.imageElement--home__image-mercado {
  margin-right: 10px;
}
