.flexRowContent--session-content-legal,
.flexRowContent--session-title-legal {
  width: 80%;
  margin: 0 auto;
}

.flexRowContent--session-content-lega-lastest {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  font-weight: 400;
  text-align: justify;
}
