.sliderLayoutContainer--home__slider {
  max-width: 1200px;
  margin: 0 auto 50px;
}

/*.paginationDotsContainer--home_slider {
  transform: transLateY(30px);
}

.imageElement--home__slider {
  max-height: initial !important;
}*/
