.flexColchild--section__one--image {
  max-width: 600px;
}

.flexCol--section__two--item :global(.vtex-store-link-0-x-buttonLink)::after {
  background-color: black;
  content: "Hello world";
}

.flexRow--home__section-zero {
  display: flex;
  align-items: center;
  justify-content: center;
}
