.imageElement--home__image-main {
  margin-top: 5px;
}

.imageElement--image-success {
  padding-top: 14px;
  aspect-ratio: 41/41;
  padding-left: 30px;
}

.imageElement--image-logo-group {
  width: 50px;
  height: 30px;
}

@media (max-width: 768px) {
  .imageElement--home__image-main {
    width: 20px !important;
    height: 20px !important;
    margin-top: 20px;
  }

  .imageElement--image-footer-global-pay {
    margin-bottom: 20px;
  }
}
