.flexRowContent--session-icono-ubicacion {
  margin-left: 32px;
}

.flexRowContent--session__texto-dos {
  white-space: nowrap;
  flex-wrap: nowrap;
  padding-left: 28px;
}

.flexColChild--session__header-inicio {
  min-width: 162px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
  background-color: #ffe800;
  padding-right: 5px;
}

.flexColChild--session__header-mercado {
  min-width: 162px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
  background-color: #676767;
}

.flexColChild--session__header-moda {
  min-width: 167px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
  background-color: #9f9f9f;
}

.flexRowContent--header__top-texto-btn {
  background-color: #522676;
  border-radius: 10px 10px 0 0;
}

.flexRow--header__top-texto-btn {
  width: 75%;
  height: 38px;
}

.flexColChild--session__header-halloween {
  margin-right: 20px;
}

.flexColChild--session__header-icono {
  margin-top: 5px;
}

.flexColChild--session__header-icono-mercado {
  margin-top: 7px;
}

.flexColChild--session__header-icono-moda {
  margin-top: 5px;
}
