.searchBarInnerContainer--header-search {
  width: 71%;
  margin-left: 18px;
  border-radius: 50px !important;
  border: none;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.searchBarInnerContainer--header-search :global(.vtex-input__suffix) {
  background-color: #676767;
  padding: 0 10px;
  width: 18px;
}

.searchIcon--header-search {
  color: white;
  font-weight: 700;
}

/* Diseño de tablet*/

@media screen and (max-width: 768px) {
  .logoImage--image-logo {
    width: 68px;
  }
  .searchBarInnerContainer--header-search :global(.vtex-input__suffix) {
    background-color: #676767;
    padding: 0 10px;
    width: 18px;
  }
  .searchIcon--header-search {
    color: white;
    font-weight: 700;
  }
  .searchBarInnerContainer--header-search {
    width: 100%;
    border-radius: 50px !important;
    border: none;
  }
}
